<div class="about-style">
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="form-group title">
            <div class="row">
                <span>About</span>
            </div>
        </div>
        <div class="form-group content">
            <div class="row">
                I am a disciplined software development manager, coming from a full-stack software development background. I am a strong advocate of Agile and Lean processes and principles and love expanding my own knowledge and experience in software development methodologies. I have a great track record of delivering products from inception while following good SDLC and project principles. I have started two successful companies including a software company and a brewery.
            </div>
        </div>

        <div class="form-group title">
            <div class="row">
                <span>Details</span>
            </div>
        </div>
        <div class="form-group content">
            <div class="row">
                <h6><b>Name:</b> Mike Fawcett</h6>
            </div>
            <div class="row">
                <h6><b>Age:</b> {{age}} years</h6>
            </div>
            <div class="row">
                <h6><b>Location:</b> Guilford, CT, USA</h6>
            </div>
        </div>
    </div>
</div>
</div>
