<div class="about-style">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="form-group title">
                <div class="row">
                    <span>About</span>
                </div>
            </div>
            <div class="form-group content">
                <p>I am a disciplined software development manager, coming from a full-stack software development background. I am a strong advocate of Agile and Lean processes and principles and love expanding my own knowledge and experience in software development methodologies. I have a great track record of delivering products from inception while following good SDLC and project principles.</p>
                <p>I have started two successful companies, including a software company and a brewery. The software company was an instant messaging appliance company called Deviant Technologies which was sold to Barracuda Networks in 2005.</p>
                <p>The brewery is <a href="https://www.thimbleislandbrewery.com/">Thimble Island Brewing Company</a>, which I'm still involved with. Thimble Island has grown well since 2009 and I'm proud to be part of its inception and development. We now have a brew-pub location in Old Saybrook Connecticut as well as the main brewery and brew-pub in Branford.</p>
            </div>

            <div class="form-group title">
                <div class="row">
                    <span>Details</span>
                </div>
            </div>
            <div class="form-group content">
                <h6><b>Name:</b> Mike Fawcett</h6>
                <h6><b>Age:</b> {{age}} years</h6>
                <h6><b>Location:</b> Guilford, CT, USA</h6>
            </div>

            <div class="form-group title">
                <div class="row">
                    <span>SKILLS</span>
                </div>
            </div>
            <div class="form-group subtitle">
                INFORMATION TECHNOLOGY
            </div>
            <div class="form-group content">
                <p>DevOps, Agile, Development Managment, Java, Spring Boot, Javacript, Angular, Node.js, HTML, CSS, Cloud Computing, AWS, Azure, Cybersecurity, Front-end Development, Back-end Development, User Interface Design, User Experience Design, SQL, Various Database Technologies</p>
            </div>

            <div class="form-group subtitle">
                BREWING
            </div>
            <div class="form-group content">
                <p>Recipe development, quality control, production, packaging, operations</p>
            </div>

            <div class="form-group subtitle">
                CERTIFICATIONS
            </div>
            <div class="form-group content">
                <p><a href="https://training.linuxfoundation.org/certification/certified-kubernetes-administrator-cka/">CKA (Certified Kubernetes Administrator)</a></p>
                <p><a href="https://www.bjcp.org/">BJCP (Beer Judge Certification Program)</a></p>
                <p><a href="https://www.cicerone.org/us-en/certifications/certified-beer-server">Cicerone Certified Beer Server</a></p>
            </div>

            <div class="form-group title">
                <div class="row">
                    <span>RESUME</span>
                </div>
            </div>
            <div class="form-group content">
                <div class="row">
                    <div class="col-sm-3">EDUCATION</div>
                    <div class="col-sm-6">
                        <p>BSc, Computer Science</p>
                        <p>The University of Portsmouth, UK</p>
                    </div>
                    <div class="col-sm-3">JUNE 2000</div>
                </div>
                <hr />
                <div class="row work">
                    <div class="col-sm-3">WORK</div>
                    <div class="col-sm-6">
                        <p class="lead">Director of Software Engineering</p>
                        <p><b>Mastercard</b></p>
                        <p>Leading a development team which works on the customer facing components of Mastercard's internal developer platform.</p>
                    </div>
                    <div class="col-sm-3">NOV 2022 - PRESENT</div>
                </div>
                <div class="row work">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <p class="lead">Director of Software Engineering</p>
                        <p><b>AIG</b></p>
                        <p>Managing a software engineering chapter which helps software development teams with their practice, process, tools, and software design.</p>
                    </div>
                    <div class="col-sm-3">MAY 2019 - NOV 2022</div>
                </div>
                <div class="row work">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <p class="lead">Director of Software Development</p>
                        <p><b>Neopost</b></p>
                        <p>Managing software development, QA, and operations for commercial shipping and mailing applications.</p>
                    </div>
                    <div class="col-sm-3">DECEMBER 2011 - MAY 2019</div>
                </div>
                <div class="row work">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <p class="lead">Software Development Manager</p>
                        <p><b>Helicopter Support Inc. - a division of Sikorsky Aerospace</b></p>
                        <p>Created a repair MRP system for the servicing of helicopter assemblies in C#.</p>
                    </div>
                    <div class="col-sm-3">MAY 2010 - DECEMBER 2011</div>
                </div>
                <div class="row work">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <p class="lead">Director of Information Technology</p>
                        <p><b>Whitcraft Group</b></p>
                        <p>Managing software development, operations, back-office systems, ERP, telecommunications, networking, and manufacturing systems for this aerospace part manufacturer.</p>
                    </div>
                    <div class="col-sm-3">MARCH 2009 - MAY 2010</div>
                </div>
                <div class="row work">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <p class="lead">Director of Information Technology</p>
                        <p><b>Global Wire</b></p>
                        <p>Managing software development, operations, back-office systems, ERP, telecommunications, networking, and manufacturing systems for this wire manufacturing company.</p>
                    </div>
                    <div class="col-sm-3">AUGUST 2006 - FEBRUARY 2009</div>
                </div>
                <div class="row work">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <p class="lead">Senior Software Engineer</p>
                        <p><b>Barracuda Networks</b></p>
                        <p>Transfered the technology for the InterIM appliance developed at Deviant Technologies and migrated it to Barracuda's technology stack.  This appliance became the Barracuda IM Firewall.</p>
                    </div>
                    <div class="col-sm-3">MAY 2005 - JULY 2006</div>
                </div>
                <div class="row work">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <p class="lead">Founder and Software Engineer</p>
                        <p><b>DEVIANT TECHNOLOGIES</b></p>
                        <p>Co-founded this instant messaging appliance company with a few co-workers from Neurogen. The appliance was called InterIM and was based on eJabberd.  All written in Perl.</p>
                        <p>This company was sold to Barracuda Networks.</p>
                    </div>
                    <div class="col-sm-3">FEBRUARY 2003 - MAY 2005</div>
                </div>
                <div class="row work">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <p class="lead">Software Engineer / Linux System Specialist</p>
                        <p><b>NEUROGEN CORPORATION</b></p>
                        <p>Developed virtual drug discovery tools.  Worked along side some really smart computational chemists and helped to implement their ideas in code.</p>
                        <p>Created a large Beowulf and Mosix cluster for parallel computing.</p>
                    </div>
                    <div class="col-sm-3">NOVEMBER 2000 - DECEMBER 2002</div>
                </div>
                <div class="row work">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <p class="lead">Software Engineer / Systems Administrator</p>
                        <p><b>INTERSURGICAL</b></p>
                        <p>Development of in-house, back-office software in support of creating a "paperless" office suite.  Linux, Windows, and Netware systems support. Network design and maintenance.</p>
                    </div>
                    <div class="col-sm-3">NOVEMBER 2000 - DECEMBER 2002</div>
                </div>
            </div>
        </div>
    </div>
</div>
