<div class="form-group">
    <div class="row">
    </div>
</div>
<div class="form-group">
    <div class="row">
    </div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="form-group">
            <div class="row h4">
                <b>CONTACT</b>&nbsp;INFORMATION
            </div>
        </div>
        <div class="form-group">
            <div class="row">
            </div>
        </div>
        <div class="form-group">
            <div class="row">
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <input type=text name="name" placeholder="your name" required class="form-control" /> 
                    <!--<div class="text text-danger">Name is required</div>-->
                </div>
                <div class="col-sm-6">
                    <input type=text name="phone" placeholder="phone" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <input type=text name="email" placeholder="email address" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <textarea name="message" placeholder="message" required rows="4" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="form-button">
            <button class="btn btn-custom theme-color" type="submit">send</button>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
