<div class="skills-style">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="form-group title">
                <div class="row">
                    <span>SKILLS</span>
                </div>
            </div>
            <div class="form-group subtitle">
                <div class="row">
                    INFORMATION TECHNOLOGY
                </div>
            </div>
            <div class="form-group content">
                <div class="row">
                    DevOps, Agile, Development Managment, Java, Spring Boot, Javacript, Angular, Node.js, HTML, CSS, Cloud Computing, AWS, Azure, Cybersecurity, Front-end Development, Back-end Development, User Interface Design, User Experience Design, SQL, Various Database Technologies
                </div>
                &nbsp;
                <div class="row">
                    Certified Kubernetes Administrator (CKA)
                </div>
            </div>
        </div>
    </div>
</div>
