<div class="resume-style">
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="form-group title">
            <div class="row">
                <span>RESUME</span>
            </div>
        </div>
        <div class="form-group content">
            <div class="row">
                <div class="col-sm-3">EDUCATION</div>
                <div class="col-sm-6">
                    <p>
                        BSc, Computer Science
                    </p>
                    <p>
                        The University of Portsmouth, UK
                    </p>
                </div>
                <div class="col-sm-3">JUNE 2000</div>
            </div>
            <hr />
            <div class="row work">
                <div class="col-sm-3">WORK</div>
                <div class="col-sm-6">
                    <p class="work-title">
                        Director of Software Development
                    </p>
                    <p>
                        Neopost
                    </p>
                    <p>
                        Managing software development, QA, and operations for commercial shipping and mailing applications. 
                    </p>
                </div>
                <div class="col-sm-3">DECEMBER 2011 - PRESENT</div>
            </div>
            <div class="row work">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <p class="work-title">
                        Software Development Manager
                    </p>
                    <p>
			Helicopter Support Inc. - a division of Sikorsky Aerospace
                    </p>
                    <p>
		        Created a repair MRP system for the servicing of helicopter assemblies in C#.
                    </p>
                </div>
                <div class="col-sm-3">MAY 2010 - DECEMBER 2011</div>
            </div>
            <div class="row work">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <p class="work-title">
                        Director of Information Technology
                    </p>
                    <p>
			Whitcraft Group
                    </p>
                    <p>
                        Managing software development, operations, back-office systems, ERP, telecommunications, networking, and manufacturing systems for this aerospace part manufacturer. 
                    </p>
                </div>
                <div class="col-sm-3">MARCH 2009 - MAY 2010</div>
            </div>
            <div class="row work">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <p class="work-title">
                        Director of Information Technology
                    </p>
                    <p>
			Global Wire
                    </p>
                    <p>
                        Managing software development, operations, back-office systems, ERP, telecommunications, networking, and manufacturing systems for this wire manufacturing company. 
                    </p>
                </div>
                <div class="col-sm-3">AUGUST 2006 - FEBRUARY 2009</div>
            </div>
            <div class="row work">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <p class="work-title">
                        Senior Software Engineer
                    </p>
                    <p>
			Barracuda Networks
                    </p>
                    <p>
		       Transfered the technology for the InterIM appliance developed at Deviant Technologies and migrated it to Barracuda's technology stack.  This appliance became the Barracuda IM Firewall.
                    </p>
                </div>
                <div class="col-sm-3">MAY 2005 - JULY 2006</div>
            </div>
            <div class="row work">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <p class="work-title">
                        Founder and Software Engineer
                    </p>
                    <p>
			DEVIANT TECHNOLOGIES
                    </p>
                    <p>
		        Co-founded this instant messaging appliance company with a few co-workers from Neurogen. The appliance was called InterIM and was based on eJabberd.  All written in Perl.
			This company was sold to Barracuda Networks. 
                    </p>
                </div>
                <div class="col-sm-3">FEBRUARY 2003 - MAY 2005</div>
            </div>
            <div class="row work">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <p class="work-title">
                        Software Engineer / Linux System Specialist
                    </p>
                    <p>
			NEUROGEN CORPORATION
                    </p>
                    <p>
		        Developed virtual drug discovery tools.  Worked along side some really smart computational chemists and helped to implement their ideas in code.
			Created a large Beowulf and Mosix cluster for parallel computing.
                    </p>
                </div>
                <div class="col-sm-3">NOVEMBER 2000 - DECEMBER 2002</div>
            </div>
            <div class="row work">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <p class="work-title">
                        Software Engineer / Systems Administrator
                    </p>
                    <p>
			INTERSURGICAL
                    </p>
		    <p>
		        Development of in-house, back-office software in support of creating a "paperless" office suite.  Linux, Windows, and Netware systems support. Network design and maintenance.
		    </p>
                </div>
                <div class="col-sm-3">NOVEMBER 2000 - DECEMBER 2002</div>
            </div>
        </div>
    </div>
</div>
</div>
